ul {
  list-style: none;
}

li  {
  font-size: 26px;
  width: 32px;
  height: 32px;
  border-radius: 27px;
  border: 1px solid #ddd;
  float: right;
  background-color: #eee;
  color: #555;
  padding: 10px;
  margin: -5px;
  -webkit-transition: margin 0.3s, -webkit-transform 0.3s;
  transition: margin 0.3s, transform 0.3s;
}

li:hover {
  margin-left: 5px;
  margin-right: 2px;
}

li:first-child:hover {
  margin-right: -5px;
}